*{
    font-size: 12px;
    margin: auto;
    padding: 0%;
}
body{
    font-family: Verdana;
    font-size: 12px;
}
.menu{
    list-style: none;
    float: left;
}
.menu li{
    position: relative;
    float: left;
}
.menu li a{
    
}