* {
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #262526;
    color: #fff;
}

.primary-bg-color {
    background-color: #262526;
}

.secondary-bg-color {
    background-color: #40E04F;
}

.primary-color{
    color: #40E04F;
}

#navbar .navbar-nav{
    flex-direction: row;
    justify-content: end;
}

#navbar .navbar-nav li{
    margin-left: 1em;
}

#navbar a,
#navbar button{
    color: #fff;
}

#navbar li{
    position: relative;
}

#navbar i {
    font-size: 20px;
}

#navbar span{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background-color: #E94F41;
    border-radius: 50%;
    text-align: center;
}

.navbar-brand{
    font-weight: 700;
    width: 100%;
    text-align: center;
}

@media(min-width: 768px){
    .navbar-brand{
    text-align: left;
    }
}

#navbar-itens{
    justify-content: space-between;
}

@media(min-width: 768px){
    #navbar-itens{
        min-width: 80%;
    display: flex;
    }
}


@media(min-width: 768px){
    #search-form{
        min-width: 40%;
    margin: 0;
    }
}

#search-form input{
    background-color: transparent;
    border: none;
    color: #fff;
}

#search-form{
    width: 100%;
    margin: 2em 0;
    border-radius: 2px;
    border: 2px solid #40E04F;
    padding: 5px 15px;
}